{% extends "datapipeline/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST" action="{% url 'uploader-uploaderExtraInfo' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% if case1 is True %}
    {% if withSubjectID is True %}
    <p>
        {{ form.hasSubjectID.errors }}
        {{ form.hasSubjectID |as_crispy_field }}
     </p>
     {% endif %}

    <p>
        {{ form.nameOfValueMeasured.errors }} 
        {{ form.datatypeOfMeasured.errors }}
        {{ form.nameOfValueMeasured |as_crispy_field }}
        {{ form.datatypeOfMeasured }}
    </p>
    {% endif %}

    {% if case2 is True %}
    <p>
        {{ form.studyGroupDescription.errors }}
        {{ form.studyGroupDescription |as_crispy_field}}
    </p>
    {% endif %}

    {% if case3 is True %}
        <p>
            {{ form.dataCategoryDescription.errors }}
            {{ form.dataCategoryDescription |as_crispy_field}}
        </p> 
        <div class="scrollable">
        {% for field in form %}
            {% if '_custom_' in field.html_name %}
            {% cycle False False False True as flag silent %}
            <p>
                {{ field |as_crispy_field}}
            </p>
            {% if flag %}
            <br/>
            {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

    <input type="submit" value="Next">
</form>

<a href="{% static 'datapipeline/pdfs/Help_Page.pdf#page=23' %}" open>Click here to view the Help Page</a>
{% endblock content %}
