{% extends "datapipeline/base.html" %}
{% load static %}
{% block content %}
{% if schema %}
<p class="finalPrompt">{{ schema }}</p>
{% endif %}
<p class="prompt">PROMPT: Please map each column to its corresponding column within the table</p>
<form method="POST" action="{% url 'uploader-uploaderFinalPrompt' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% if error is True %}
    <h1 class="add-bottom-margin warning">Found Duplicate Positions!</h1>
    {% endif %}
    <table class="table-center">
        {% for field in form %}
        <tr>
            <td>
                {% if '_custom_dataType' in field.html_name %}
                <label id="dataType-label">DataType: </label>
    
                {% else %}
                <label for="{{ form.field.id_for_label }}"> {{field.label}}</label>
                {% endif %}
                
                {{ field }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Upload">
</form>    
<a href="{% static 'datapipeline/pdfs/Help_Page.pdf#page=24' %}" open>Click here to view the Help Page</a>
{% endblock content %}
