{% extends "datapipeline/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% if studyName %}
<h3>Enter Info for {{ studyName }}</h3>
{% endif %}

<div class="row">
    <div class="col-md-7">
        <form method="POST" action="{% url 'uploader-uploaderInfo' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Next">
        </form>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="content-section">
                <h4>Download Example Files</h4>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                        <a href="{% static 'datapipeline/csvs/subject1_exampleFile.csv' %}" download>Click here for example file of Subject per File</a>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <a href="{% static 'datapipeline/csvs/exampleSubjectRow.csv' %}" download>Click here for example file of Subject per Row</a>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <a href="{% static 'datapipeline/csvs/exampleSubjectRowTS.csv' %}" download>Click here for example file of Subject per Row that is Time Series</a>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <a href="{% static 'datapipeline/csvs/exampleSubjectColumn.csv' %}" download>Click here for example file of Subject per Column</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="content-section">
                <h4>Important Notes About Example Files</h4>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light black">
                        To ensure that the data will be uploaded to the database successfully, it is advised to closely match the format of the example 
                        csv file that corresponds to the paticular format chosen by the user.
                    </li>
                    <li class="list-group-item list-group-item-light black">
                        In each example file, it includes a note to the user to help the user understand what is being presented in the example files
                    </li>
                    <li class="list-group-item list-group-item-light black">
                        When downloading an example file, <strong>pay attention to the filename</strong>. For instance, if <strong>Subject per File</strong>, 
                        the filename should be formatted as "subject_filename.csv"
                    </li>
                    <li class="list-group-item list-group-item-light black">
                        For Subject Per Row files, to identify a subject it <strong>must</strong> have the subject identifier be in the first column
                    </li>
                    <li class="list-group-item list-group-item-light black">
                        Subject Per Column files <strong>must</strong> include a subject identifier for each column (except first) in the first row
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>

<a href="{% static 'datapipeline/pdfs/Help_Page.pdf#page=20' %}" open>Click here to view the Help Page</a>

{% endblock content %}
