{% extends "datapipeline/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Enter Study</h1>

<div class="row">
    <div class="col-md-7">
        <form method="POST" action="{% url 'uploader-uploaderStudy' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Next">
        </form>
    </div>
    <div class="col-md-5">
        <div class="content-section">
            <h3>Uploader Rules/Conditions:</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light black">Files should only have data of 1 data category</li>
                <li class="list-group-item list-group-item-light black">Files should be in CSV format</li>
                <li class="list-group-item list-group-item-light black">
                    For a file with 1 subject (subject per file format), in the file name, the subject
                    would be at the beginning and separated by an "_"
                </li>
                <li class="list-group-item list-group-item-light black">
                    Spreadsheet of the same data category should be consistent with each other. For example,
                    if one column has labels, <b>all the files being uploaded</b> should have the same column labels
                </li>
                <li class="list-group-item list-group-item-light black">Files can only have data on subjects from the same study group</li>
            </ul>
        </div>
        
    </div>
</div>

{% endblock content %}