{% extends "datapipeline/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Enter Study</h1>

<div class="row">
    <div class="col-md-7">
        <form method="POST" action="{% url 'uploader-uploaderStudy' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Next">
        </form>
    </div>
    <div class="col-md-5">
        <div class="content-section">
            <h3>Uploader Rules/Conditions:</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light black">All uploaded files <strong>must</strong> be in ".csv" format</li>
                <li class="list-group-item list-group-item-light black">
                    When uploading files, they <strong>must all</strong> be of the same type of data category and study group
                </li>
                <li class="list-group-item list-group-item-light black">
                    All uploaded files should be formatted the same. For example,
                    if one column has labels, <b>all the files being uploaded</b> should have the same column labels
                </li>
                <li class="list-group-item list-group-item-light black">
                    Uploaded files <strong>must</strong> contain column headers. There is an exception to this rule if the file is 
                    formatted as Subject per Row <strong>AND</strong> is Time Series
                </li>
                <li class="list-group-item list-group-item-light black">
                    Column headers <strong>should not</strong> contain any numerical or datetime values, <strong>only</strong> alphabetic texts
                </li>
                <li class="list-group-item list-group-item-light black">
                    Uploaded files <strong>are not</strong> saved. Users are unabled to download any files that were uploaded  
                </li>
                <li class="list-group-item list-group-item-light black">Files <strong>must</strong> only have data on subjects from the same study group</li>
            </ul>
        </div>
        
    </div>
</div>

<a href="{% static 'datapipeline/pdfs/Help_Page.pdf#page=18' %}" open>Click here to view the Help Page</a>

{% endblock content %}
