.flex-container {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-start;
    padding: 0;

}

.flex-item {
    margin: 2%;
    background: #ece9e9;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    width: 45%;

}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

table{
    width: 100%;
    border: 1px solid black;
}

th, td{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px
}

td{
  overflow-wrap: break-word;
  word-wrap: break-word;
}

