.content-section {
  background: #ece9e9;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

label.checkbox {
  margin-left: 30px;
}

ul.study-listings {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.study-article {
  margin: 15px;
}

input.radio {
  margin-right: 20px;
}

input[type='radio'] {
    width: auto;
    height: 1rem;
    border: 3px solid black !important;
}

input[type='submit'] {
    float:right; 
    margin-top: 200px;
    width: 100px;
}

label.study-article {
    width: 80%;
}
