h1.header-error, h3.header-error {
  text-align: center;
  color: red;
}

div.form {
  display: block;
  text-align: center;
}

form {
  margin-top: 100px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

input[type="submit"] {
  width: 200px;
  font-size: 2vw;
}

h1.upload-status {
    margin-top: 50px;
}

.column {
    display: inline-block;
    text-align: left;
    margin: 50px;
    vertical-align: top; 
}

.container {
    margin:auto;
    text-align: center;
}

ul {
    margin-left: auto;
    margin-right: auto;
}

li {
    font-size: 25px;
}

.scrollable {
    margin-top: 40px;
	height:440px;
	width:auto;
    border: 1px solid #555;		
    overflow-y:auto;
}
