h1.header-error {
    text-align: center;
    color: red;
}

div.form {
    display: block;
    text-align: center;
}

form {
    margin-top: 100px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

input[type='submit'] {
    width: 200px;
    font-size: 2vw;
}