.left-spacing {
  margin-left: 10px;
}

input[type="submit"] {
  float: right;
  margin-top: 200px;
  width: 100px;
}

ul.no-bullets {
  list-style-type: none;
}

label.field-label {
  margin-left: 15px;
}

h2.center {
  text-align: center;
  margin-bottom: 20px;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
