{% extends "datapipeline/base.html" %}
{% block content %}

<h1>{{ study.name }}</h1>

<p><b>Owner: </b> {{ study.owner }}</p>
<p><b>Description: </b> {{ study.description}}</p>
<p><b>Total Participants: </b>{{ study.total_subjects }}</p>
<p><b>IRB Status: </b>{{ study.irb }}</p>
<p><b>Institutions Involved: </b>{{ study.inst }}</p>
<p><b>Study Start Date: </b>{{ study.start }}</p>
<p><b>Study End Date: </b>{{ study.end }}</p>
<p><b>Contact: </b>{{ study.contact }}</p>
<p><b>Visibility: </b> {{ study.visibility }}</p>
<p><b>Notes: </b>{{ study.notes }}</p>

<h2>Study Groups ({{study.total_groups }})</h2>
<ul class="flex-container">
    {% for studygroup in studygroups %}
        <li class="flex-item">
            <h3>{{ studygroup.name }}</h3>
            <p><b>Description: </b>{{ studygroup.description }}</p>
            <p><b>Total Participants: </b>{{ studygroup.total_subjects }}</p>
        </li>
    {% endfor %}
</ul>


<h2>Data Categories ({{ study.total_data_categories }})</h2>
<ul class="flex-container">
    {% for datacategory in datacategories %}
        <li class="flex-item">
            <h3>{{ datacategory.name }}</h3>
            <p><b>Description: </b>{{ datacategory.description }}</p>
            <p><b>Total Rows of Data: </b>{{ datacategory.total_records }}</p>
            <p><b>Time Series: </b>{{ datacategory.time_series }}</p>

            <h4>Attributes ({{ datacategory.total_attributes }})</h4>
            <table class="table-striped">
                <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Data Type</th>
                    <th>Unit</th>
                    <th>Device</th>
                </thead>
                <tbody>
                    {% for attribute in datacategory.attributes %}
                        <tr>
                            <td>{{ attribute.name }}</td>
                            <td>{{ attribute.attr_description }}</td>
                            <td>{{ attribute.data_type }}</td>
                            <td>{{ attribute.unit }}</td>
                            <td>{{ attribute.device_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
    {% endfor %}
</ul>


{% endblock content %}