.center {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-auto-rows: auto;
	background-color: #016b48;
  	padding: 10px;
}

.grid-item {
  	background-color: #ffffff;
  	border: 3px solid #016b48;
  	padding: 20px;
  	font-size: 30px;
  	text-align: center;
}

.grid-item:hover {
  	background-color: #babec0;
  	border: 1px solid rgba(0, 0, 0, 0.8);
  	padding: 20px;
  	font-size: 30px;
  	text-align: center;
}

/* puts grid to hamburger layout if width is too small */
@media(max-width: 1200px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto;
		grid-auto-rows: auto;
		background-color: #016b48;
  		padding: 10px;
	}
}

ul.icon-listings {
	list-style-type: none;
	margin: 0; 
  	padding: 0;
}

.icons {
	width: 200px;
	height: 200px;
}

li.icon-description {
	margin-top: 50px;
}

a.none {
	text-decoration: none;
	color: black;
}