.header-left {
    text-align: left;
    margin-bottom: 50px;
}

.header-error {
    color: red;
    margin-bottom: 30px;
}

input[type='submit'] {
    display:block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}