* {
  box-sizing: border-box;
}

h1 {
    margin-bottom: 40px;
}

h3.uploaderInfo {
    margin-left: 1.5em;
    margin-bottom: 20px;
}

h3.center {
    text-align: center;
}

input[type="submit"] {
  float: right;
  margin-top: 50px;
  margin-right: 80px;
  width: 100px;
}

mark {
  background-color: #fff3cd;
}

.content-section {
  background-color: #8f8f8f;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

li {
  text-align: left;
  color: blue;
}