* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

h1 {
    text-align: left;
    margin-bottom: 40px;
}

input[type="submit"] {
  float: right;
  margin-top: 50px;
  width: 100px;
}

ul {
    margin-left: auto;
    margin-right: auto;
}

li {
    font-size: 20px;
}
