{% extends "datapipeline/base.html" %}
{% load static %}
{% block content %}
<h1>Data Selection</h1>
<!--ul>
    {% for study in studies %}
    <li>
        <article class="media">
            <div class="media-body">
                <p>{{ study.study_name }}</p>
            </div>
        </article>
    </li>
    {% endfor %}
</ul-->
<h2>What data from this study would you like to view?</h2>
<form action="{% url 'datapipeline-dataSelection-2' %}" method="POST">
    {% csrf_token %}
    <ul class="study-listings">
        {{ categories_form.as_p }}
        <!--{% for category in categories %}
        <li class="study-article">
            <input class="checkbox" type="checkbox" name="categories[]" value="{{category}}">
            <label class="study-article">
                <article class="media content-section">
                    <div class="media-body">
                         <p>{{ category.name }}</p>
                    </div>
                </article>
            </label>
        </li>
        {% endfor %}-->
    </ul>
    <h2>Which groups would you like to analyze?</h2>
    {% csrf_token %}
    <ul class="study-listings">
        {{ study_groups_form.as_p }}
        <!--{% for sgroup in sgroups %}
        <li class="study-article">
            <input class="radio" type="checkbox" name="studyGroups[]" value="{{sgroup}}">
            <label class="study-article">
                <article class="media content-section">
                    <div class="media-body">
                         <p>{{ sgroup.name }}</p>
                    </div>
                </article>
            </label>
        </li>
        {% endfor %}--->
    </ul>
    <input type="submit" value="Submit">
</form>
{% endblock content %}
