{% extends "datapipeline/base.html" %}
{% load static %}
{% block content %}
<h1>Data Selection</h1>
<ul>
    {% for study in study_names %}
    <li>
        <article class="media">
            <div class="media-body">
                <p>{{ study }}</p>
            </div>
        </article>
    </li>
    {% endfor %}
</ul>
<h2>What data from this study would you like to view?</h2>
<form action="{% url 'datapipeline-dataSelection' %}" method="POST">
    {% csrf_token %}
    <ul class="no-bullets">
        {% for field in categories_form %}
        <li>
            {{ field }}
            <label class="field-label" for="{{ categories_form.field.id_for_label }}"> {{ field.label }}</label>
        </li>
        {% endfor %}
    </ul>
    <h2>Which groups would you like to analyze?</h2>
    <ul class="no-bullets">
        {% for field in study_groups_form %}
        <li>
            {{ field }}
            <label class="field-label" for="{{ categories_form.field.id_for_label }}"> {{ field.label }}</label>
        </li>
        {% endfor %}
        <!--{% for sgroup in sgroups %}
        <li class="study-article">
            <input class="radio" type="checkbox" name="studyGroups[]" value="{{sgroup}}">
            <label class="study-article">
                <article class="media content-section">
                    <div class="media-body">
                         <p>{{ sgroup.name }}</p>
                    </div>
                </article>
            </label>
        </li>
        {% endfor %}--->
    </ul>
    <input type="submit" value="Submit">
</form>
{% endblock content %}
