{% extends "datapipeline/base.html" %}
{% load static %}
{% block content %}

<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
<!--<object type="application/pdf" data="pfds/mycal.pdf" width="995" height="841" ></object>-->
<!--<a href="mypdffile.pdf#page=9">Jump to page 9</a>-->
<!--</body>-->
<!--</html>-->
<!--<embed src="{% url 'pdf' %}" width="800" height="500" type="application/pdf" page=2>-->
<!--<embed src="https://app.luminpdf.com/viewer/6021b0e1fd3a0500114aaba1" width="500" height="375" type="application/pdf">-->
<!--<object data=”/pdfs/cal.pdf" type=”application/pdf” width=”100%” height=”100%”> </object>-->
<!--<iframe src=”pdfs/cal.pdf" width="500" height="375" type="application/pdf"/>-->
<button onclick="window.open('media/{{CS4120_Homework1_bmclean.pdf}}#page={{2}}')"> hello</button>
{% endblock content %}
