{% extends "datapipeline/base.html" %}
{% block content %}
  <h1>Dashboard</h1>
  <div class="grid-container center">
    <div class="grid-item">
      <button>
        Single Study Selection
      </button>
    </div>
    <div class="grid-item">
      <button disabled>
        Cross Study Selection
      </button>
    </div>
    <div class="grid-item">
      <button disabled>
        Upload
      </button>
    </div>
    <div class="grid-item">
      <button disabled>
        Inventory
      </button>
    </div>
  </div>
{% endblock content %}