{% extends "datapipeline/base.html" %}
{% load static %}
{% block content %}
<h2>Data:</h2>
<h3>Summary:</h3>
<table class="table-bordered table-striped">
    <tbody>
        {% for stat in stat_summary %}
        <tr>
            {% for val in stat %}
            <td> {{ val }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<br />
<form action="{% url 'datapipeline-export_summary' %}">
    <button class="export-button">Export Summary to CSV</button>
</form>

<!--WE COULD DO THIS TO MAKE THE COLUMN NAMES STAY AT THE TOP, NEEDS FORMATTING THO-->
<!--<table class="table-bordered">-->
<!--    <thead>-->
<!--        <tr>-->
<!--            {% for label in attribute_names %}-->
<!--                <th scope="col">{{ label }}</th>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--    </thead>-->
<!--</table>-->


<article class="media">
    <div class="media-body">
        <div class="output-scroll">
            <table class="table-bordered table-striped">
                <thead>
                    <tr>
                        {% for label in attribute_names %}
                        <th scope="col">{{ label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for dc in data %}
                    <tr>
                        {% for val in dc %}
                        <td> {{ val }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</article>
<br />
<form action="{% url 'datapipeline-export_data' %}">
    <button class="export-button">Export Data to CSV</button>
</form>
<br />
<a href="{% url 'analysis-make_hist' %}">
    <button class="export-button">Make Histogram</button>
</a>
<br />
<a href="{% url 'analysis-make_scatter' %}">
    <button class="export-button">Make Scatter Plot</button>
</a>

{% endblock content %}