{% extends "datapipeline/base.html" %}
{% load static %}
{% block content %}
<h2>Data:</h2>
<h3>Summary:</h3>
<table class="table-bordered">
    <thead>
        {% for stat in stat_summary %}
            <th> {{ stat.0 }} </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for stat in stat_summary %}
                {% for val in stat %}
                    {% if not forloop.first %}
                        <td> {{ val }} </td>
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </tbody>
</table>
<p> </p>
<form action="{% url 'datapipeline-export_summary' %}">
    <button id="export-button" href=>Export Summary to CSV</button>
</form>

<!--WE COULD DO THIS TO MAKE THE COLUMN NAMES STAY AT THE TOP, NEEDS FORMATTING THO-->
<!--<table class="table-bordered">-->
<!--    <thead>-->
<!--        <tr>-->
<!--            {% for label in attribute_names %}-->
<!--                <th scope="col">{{ label }}</th>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--    </thead>-->
<!--</table>-->


<article class="media">
    <div class="media-body">
        <div class="output-scroll">
            <table class="table-bordered">
                <thead>
                    <tr>
                        {% for label in attribute_names %}
                            <th scope="col">{{ label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for dc in data %}
                        <tr>
                            {% for val in dc %}
                                <td> {{ val }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</article>
<p></p>
<form action="{% url 'datapipeline-export_data' %}">
    <button id="export-button" href=>Export Data to CSV</button>
</form>

{% endblock content %}
