{% extends "datapipeline/base.html" %}
{% load static %}
{% block content %}
<h2>Data:</h2>
<article class="media">
    <div class="media-body">
        <div class="output-scroll">
            <table border="1px solid black">
                <thead>
                    <tr>
                        {% for label in attribute_names %}
                            <th scope="col">{{ label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for dc in data %}
                        <tr>
                            {% for val in dc %}
                                <td> {{ val }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</article>

{% endblock content %}