{% extends "datapipeline/base.html" %}
{% load static %}
{% block content %}
<form action="{% url 'datapipeline-dataSelection' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!--ul class="study-listings">
        {% for study in studies %}
        <li class="study-article">
            <input class="checkbox" type="checkbox" name="studies[]" value="{{study}}">
            <label class="study-article">
                <article class="media content-section">
                    <div class="media-body">
                        <h2>{{ study.study_name }}</h2>
                        <p class="article-content">{{ study.description }}</p>
                    </div>
                </article>
            </label>
        </li>
        {% endfor %}
    </ul-->

    <input type="submit" value="submit">
</form>
{% endblock content %}