{% extends "datapipeline/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin-bottom: 80px; text-align: left;">
    <h2>Uploader Rules/Conditions:</h2>
    <ul>
        <li>Files should only have data of 1 data category</li>
        <li>Files should be in CSV format</li>
        <li>For a file with 1 subject (subject per file format), in the file name, the subject
            would be at the beginning and separated by an "_"
        </li>
        <li>Spreadsheet of the same data category should be consistent with each other. For example,
            if one column has labels, <b>all the files being uploaded</b> should have the same column labels
        </li>
        <li>Files can only have data on subjects from the same study group</li>
    </ul>
</div>
<div class="row">
    <div class="column">
        <h1>Enter Study</h1>
        <form method="POST" action="{% url 'datapipeline-uploaderStudy' %}">
            {% csrf_token %}
            {{ form | crispy }}
        
            <input type="submit" value="Next">
        </form>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h1 style="text-align: center;">Studies in the Database</h1>
        {% if studies %}
        <ul>
            {% for study in studies %}
            <li>{{ study }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock content %}