{% extends "datapipeline/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Profile</legend>
            {{ form | crispy }}
        </fieldset>
        <input type="submit" value="Update">
    </form>

    <form action="{% url 'users-delete' %}">
        <input class="btn mt-5 btn-danger" type="submit" value="Delete Profile" />
    </form>
<a href="{% static 'datapipeline/pdfs/Help_Page.pdf#page=6' %}" open>Click here to view the Help Page</a>
{% endblock content %}
